<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.index.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<form class="form-narrow form-horizontal" method="post" th:action="@{transferConfirm}"  th:object="${confirmRequest}">
			<fieldset>
				<th:block th:if="${message != null}">
					<!-- /* The message code is returned from the @Controller */ -->
					<div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
				</th:block>
				<!-- /* Handle the flash message */-->
				<th:block th:if="${#authorization.expression('isAuthenticated()')}">
					<div class="form-group">
						<label for="acc">Source Bank Account</label>
						<span th:utext="${acc.accountNumber}">XXXX-XXXX-XXXX-XXXX</span>
						<input hidden="true" type="text" id="*{sourceAccountId}" name="sourceAccountId" th:value="${acc.id}"/>
					</div>
					<div class="form-group">
						<label for="targetAcc">Target Bank Account</label>
						<span th:utext="${targetAcc.accountNumber}">XXXX-XXXX-XXXX-XXXX</span>
						<input hidden="true" type="text" id="*{targetAccountId}" name="targetAccountId" th:value="${targetAcc.id}"/>
					</div>
					<div class="form-group">
						<label for="amount">Amount</label>
						<span th:utext="${amount} + ' ' + ${acc.currency}">NA</span>
	                	<input hidden="true" type="text" id="*{amount}" name="amount" th:value="${amount}"/>
					</div>
			        <div class="form-group">
          				<button type="submit" class="btn btn-success btn-lg">Confirm</button>
						<a href="transfermoney" th:href="@{transfermoney}" class="btn btn-success btn-lg">Cancel</a>
	        		</div>
				</th:block>
			</fieldset>
		</form>
	</div>
</body>
</html>